<tr>
    <th>Date</th>
    <th>Time</th>
    <th>Torunament</th>
    <th>Location</th>
    <th>Home Team</th>
    <th>Away Team</th>
</tr>
{{#each results}}
    <tr>
        <td>{{date}}</td>
        <td>{{time}}</td>
        <td>{{tournament}}</td>
        <td>{{location}}</td>
        <td>{{homeTeam}}</td>
        <td>{{awayTeam}}</td>
    </tr>
{{/each}}
